body {
  background-image: url(../images/cloud-sky.jpg);
  background-size: cover;
  background-position: center;
  padding-top: 100px;
}

/* body:before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .5);
  z-index: 0;
} */

html {
  height: 100%;
}

h1 {
  text-align: center;
  color: #fff;
}

label {
  color: #fff;
  font-size: 1.5em;
}
